/*
 * Ingresa el CSS del proyecto en este archivo
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquí */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}


.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}

.logo{
  float: right;
}

header{
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}

.menu{
  padding: 14px 70px;
  overflow: auto;
}

#home{
  background-image: url(../assets/images/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 554px;
  text-align: center;
  margin-top: 80px;
}

#home .container{
  color: white;
  padding: 70px;
}

.text-home{
  font-size: 53px;
}

.btn-home{
  background: #2Ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}


#services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 70px 7px;
}

.box-services{
  display: inline-block;
  width: 30%;
  margin-top: 63px;

}


.col-4 img{
  cursor: pointer;  
}

.text-services{
  font-size: 35px;
  letter-spacing: 2px;
}

footer{
  text-align: center;
  height: 70px;
  background-color: #373b47;
  color: white;
  padding-top: 7px;
}



/* Ejercio Evaluado*/

.work-texto{
  text-align: center;
}

.n-producto{
  text-align: center;
  font-weight: 300;
}


#img-proyecto-model{
  background-color: rgba(240,30,80,0.85); 
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}





/* MODAL services */
#box-service-modal{
  background-color: rgba(240,30,80,0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#box-service-modal .model-body{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 100px;
}

#box-service-modal #model-body h5, 
#box-service-modal #model-body h6{
  color: whitesmoke;
}

#box-service-modal #model-body h5{
  font-size: 2em;
}

#box-service-modal #model-body h6{
  font-size: 1em;
}

#box-service-modal .close{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#box-service-modal .close img{
  width: 60px;
}

.hide{
  display: none;
}




/* MODAL services */
#img-proyecto-modal{
  background-color: rgba(45,206,175,0.85); 
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-completo{
  width: 600px;
  height: 500px;
  background-color: white; 
  position: absolute;
  top: 12%;
  left: 25%;
  padding: 10px;
}

.close-img{
  color: rgb(45,206,175); 
  position: absolute;
  right: 30%;
  top: 15%;
  font-size: 25px;
  cursor: pointer;
}
